body {
    font-family: 'Roboto', sans-serif;
    background-color: #F0CCC8;
    margin: 15%;
}

button {
    color: white;
    background-color: #635252;
    border-radius: 15px;
    box-shadow: 3px 7px #888888;
    font-size: 20px;
    padding: 10px;
    margin: 15px;
    width: 60%;
}

button:active {
  transform: translateY(4px);
}

h2 {
    text-align: center;
}

h3 {
    text-align: center;
}

#cookie-counter {
    text-align: center;
    font-size: 60px;
    margin-bottom: 0;
}
